.wrapper {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  pointer-events: none; /* 确保完全不响应且不阻挡任何交互事件 */
  color: #ffffff;
}

.handdrawnArrow {
  filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.05));
}
